@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-size: normal;
}

body{
    background-color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
}

header > h1{
    font-size: 1.5em;
    color: white;

    text-align: center;
    margin: 15px;
    padding: 10px;
}

main > section {
    width: 450px;
    background-color: white;
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 2px 3px rgba(0, 0, 0, 0.644);
}

footer > p {
    margin: 15px;
    padding: 8px;
    text-align: center;
    color: white;
}